PORT=3000
LOG_LEVEL=info


# https://www.last.fm/api/account/create
LASTFM_API_KEY=""
LASTFM_API_SECRET=""

# these can not be user-generated (generated with https://developer.tidal.com/dashboard, they must be official tidal id/secret, i can not and will not provide them in fear of a DMCA
TIDAL_CLIENT_ID=""
TIDAL_CLIENT_SECRET=""
# unsure if this is needed, but recommended to have, you can get it in by checking headers on tidal.com
TIDAL_API_TOKEN=""
DATABASE_URL=postgres://username:password@localhost:5432/database?sslmode=disable

# openssl rand -base64 32
ENCRYPTION_KEY=
